.world{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
font-size: x-large;
font-weight: bold;
}
.hello{
  width: 14%;
  flex-grow: 1;

text-align: center;
background-color: rgb(255, 102, 75);
padding: 18px;
margin: 6px;
}

.hi{
  flex-grow: 2;
 
text-align: center;
width: 14%;
background-color: rgb(255, 102, 75);
padding: 18px;
margin: 6px;
}