div p {
    font-size: 23px;
    font-weight: bold;
    color: green;
}
div > p {
    font-size: 19px;
    color: blueviolet;
}
div ~ p {
    margin: 21px;
    border-radius: 50%;
    color: blue;
}
div + p {
    margin: 40px;
    word-spacing: 9px;
    color: palegreen;
}