.flexo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.flex{
    width: 400px;
border: 1px solid black;
flex-grow: 1;
padding: 20px;

}
.box{

width: 400px;
border: 1px solid black;
flex-grow: 2;
padding: 20px;
}
